@charset "utf-8";
/* CSS Document */



html
{
  height:100%;
  border: 1px none blue;
}

body
{
margin: auto;
overflow : hidden;
cursor: default;
font-family: Arial;
font-size:15px;
border:	1px none green;
width:95%;
height:100%;
background-color:white;
min-width:94%;
opacity:0;
}

#message
{
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	top: 10%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index:999999;
	font-size:24px;
	color:orange;
	display:none;
	text-align:center;
	font-style:italic;
}

.span_message
{
	background-color : rgba(255,255,255,0.3);
}


@media screen and (max-device-width: 768px) {
    body {
        border:	3px none grey;
    }
}


a
{
 color: inherit;
 text-decoration: inherit;
}

.blur
{
-webkit-filter: blur(15px); /* Chrome, Safari, Opera */
filter: blur(15px);
opacity:0.5;
}

.invisible, .username
{
display:none;	
}

.visible
{
display:block;	
}

.transparent
{
opacity:0;	
}

.opaque
{
opacity:1;	
}

.position_absolute
{
position: absolute;	
}

#loading_message
{
display:none;
border: 1px blue none;
position: absolute;	
}


.button_login, .button_chapter
{
	font-size:24px;
}

.button_login:hover
{
	color: orange;
	font-weight: bold;
}

/* PARTIE INFORMATIONS ET AUTEURS */



.connection_button
{
	position:relative;
	z-index:99999;
}

#subscribe_login_button
{
	width:8%;
	display:inline-block; 
	vertical-align : top;
	font-size: 16px;
}

@media screen and (max-device-width: 768px) 
{
    #subscribe_login_button
	{
		position:relative;
        width: 100%;
		border: 1px yellow none;
		font-size: 24px;
		margin-top:30px;
		font-style:italic;
    }
	#subscribe_button
	{	
		padding:0;
		margin:0;
		position:absolute;
		left:0px;
		display: inline-block;
		border: 1px red none;
		
	}
	#login_button
	{	
		padding:0;
		margin:0;
		position:absolute;
		right:0px;
		display: inline-block;
		border: 1px red none;
	}
}

nav
{
	border: 1px red none; 
	display:inline-block; 
	vertical-align : top; 
	float:right;
	position:relative;
	margin:auto;
	text-align: right;
	width:92%;
}

nav h3
{
	display: inline-block;
	vertical-align: top;
	margin-left:20px;
	border: 1px blue none;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

@media screen and (max-device-width: 768px) 
{	

    nav
	{
		display:block;
        width: 100%;
		left:0;
		right:0;
		border: 2px orange none;
		text-align: center;
		margin:auto;
		
    }
	#container_nav_titles
	{
		position:relative;
		width: 75%;
		text-align:left;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;

	}

	.container_nav_titles_unfocus
	{
	margin-top:110px;
	}
	.container_nav_titles_onfocus
	{
		margin-top:40px;
	
	}
	nav h3
	{
		display: block;
		border: 1px blue none;
		font-weight: bold;
		font-size: 23px;
		cursor: pointer;
	}
	.just_for_desktop_not_for_mobile
	{
		display: none;
	}
}

.menu_text_block
{
	position: relative;
	margin-top:25px;
	text-align:left;
	border: 1px red none;
	overflow: auto;
	display:none;
}

#menu_chapters
{
	position: absolute;
	border:2px black none; 
	background-color: white; 
	opacity:0; 
	z-index:100;
}

#arrow_left_window_child
{
	  position: absolute;
	  top: 50%; /* poussé de la moitié de hauteur du référent */
	  border:1px red none;
	  font-family: Trebuchet MS;
}

#arrow_left_window{
    position: absolute;
	top:0px;
	left:0px;
	width:20%;
	height:100%;
	border: 1px none blue;
	color: orange;
	font-weight: bold;
	opacity: 0;
	z-index:-1;
}​



#join_contact
{
	position:relative;
	margin-right:10px;
	text-align:right;
	border: 1px green none;
}

.menu_join_contact
{
	display: inline-block;
	vertical-align: top;
	border: 1px green none;
}


/* PARTIE IDEO */



#index
{
	display:none;
	height: 75%;
	width: 100%;
	overflow:scroll;
	border: 1px pink none; /* attention il faut laisser un border meme s'il est vide (enfin blanc quoi), car sinon il y a une sorte de bug avec badnote*/

}

#div_img_taxe
{
	width:100%;
	text-align:center;
}


#post_these
{
	position:absolute;
	opacity:0.6;
	right:10%;
	bottom:15%;
	z-index:99999;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	cursor: pointer;
	display:none;
}

@media screen and (max-device-width: 768px) 
{
    #post_these
	{
		right:0%;
		left:0%;
		bottom:5%;
		z-index:-1;
		opacity:0;
	}
}	

#post_these p
{
	position:relative;
	opacity:0;
	left:-45px;
}

#ideo
{
	display:none;
	width:100%;
	height:100%;
}

#integral_txt_cache
{
	width:100%;
	height:100%;
	border:1px orange none;		
	overflow:hidden;
}

#integral_txt
{
	width:100%;
	height:100%;
	border:1px orange none;
	padding:0px 40px 40px 0px; 
	overflow:scroll;		
}


#version_site
{
border: 1px violet none; 
width:100%;
top:95%;
text-align:center;
width:inherit;
position:fixed;
}

#version_site span
{
border: 1px violet none; 
z-index:99999;
font-size:14px;
font-style:italic;
}

#theses
{
border: 1px violet none; 
width:100%;
top:90%;
width:inherit;
background-color:white;
position:fixed;
}

#theses span
{
border: 1px violet none; 
z-index:99999;
}
@media screen and (max-device-width: 768px) 
{
	#theses
	{
		top:95%;
		font-size:18px;
	}
	#version_site
	{
		display:none;
	}
}	

#integral_txt h1
{
font-size:38px;
text-align: center;		
}

#integral_txt h2

{
font-size:25px;
}

.symbole_sch
{
font-size: 24px;
color: orange;
}

#sch
{
	display:none;
	border: 1px blue none;
	width:100%;
	height:100%;
	text-align: center;
	position: relative;
}

.img
{
	font-style: italic; 
	border: 1px red none;
	width:100%;
	display:none; 
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */

}

.schema
{
border: 1px green none;
width:97%;	
}

#integral_txt em

{
font-style: italic;		
}

#integral_txt p, #integral_txt em 
{
font-size: 1em;
}

#integral_txt .align_left

{
display: inline-block;	
vertical-align:top;		
}

#integral_txt .align_right

{
/* il faut placer le width dans l'attribut style de chaque élément ayant cette classe pour que chacun ait sa propre width, car si on met la width ici, elle sera commune pour tous, ce qui n'est pas le but recherché*/
text-align: right;
display: inline-block;
vertical-align:top;		
}

#integral_txt .center

{
text-align: center;		

}

.chapter
{
display: inline-block;	
vertical-align:bottom;		
}



.schema_description
{
	border: 1px orange none;
	position: relative;
}



/* PARTIE BADNOTE */
.forename:focus, .name:focus, .t_forename:focus, .t_name:focus {
outline: none;
}


#badnote {

border:	1px none yellow;
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-user-select: none;
margin:auto;
cursor:text;
text-align:center;
width:100%;
height:80%;
}

@media screen and (max-device-width: 768px) 
{	
	#badnote
	{
		display:none;
	}
}

#badnote_name_data
{
border:1px none grey;
display:none;
margin:auto;
width:100%;
height:100%;
text-align:center;
--width-table: 20%; /*60 sur mobile*/
}

#table_container
{

border:1px none orange;
text-align:center;
}

table{
background-color: rgba(255,255,255,1);
margin:auto;
width: var(--width-table); /*ce width est une variable selon la taille de l'ecran (si l'on est sur ordi ou sur mobile)*/
height:auto;
display:none;
margin-top:1%;
position:relative; /*si on enleve le relative, le z-index ne marche pas*/
z-index:999999;
border: 1px black none;
--width-td-th: calc(var(--width-table) / 7);
}

tr
{
border:1px none green;
}

th, td{
width:var(--width-td-th);
border : 1.75px yellow none;
text-align : center;
}

.connection_button{
display: table;
}

.button_th_td_no_mobile:hover{
color: orange;
font-weight: bold;
}


.button:hover{
color: orange;
font-weight: bold;
}

.button_chapter:hover{
color: orange;
}

.button_2
{
border : 1px red none;
}

.button_2:hover{
font-weight: bold;
}

.badnote_off
{
position:relative;
z-index: 10000;
}

.badnote_form, .badnote_form_copy
{
position:absolute;
border:2px none green;
margin:auto;
width:640px;
opacity:0;
}



.badnote_form_male, .badnote_form_male_copy, .badnote_form_fem, .badnote_form_fem_copy, .badnote_form_male_fem_and_copy
{
display:inline-block;
width: 310px;
margin:0px; 
border:1px none blue;

}

.badnote_male_and_fem, .badnote_male_and_fem_copy
{
border:3px none red;
margin:auto;
display: inline-block;
width:auto;

}

.forename, .name, .t_forename, .t_name, .forename_copy, .name_copy, .t_forename_copy, .t_name_copy
{
display:inline-block; 
width: 150px;
margin:0px; 
border: 1px orange none;
}





.badnote_name_data
{
border:3px none pink;
margin:auto;
width: var(--width-table);
position:absolute;
text-align:center;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
bottom:15%;
}

.badnote_male_and_fem_data
{
position:absolute;
width: 100%;
border:3px none red;
margin:auto;

}

.badnote_form_male_data
{
position:absolute;
width: 100%;
margin:0px; 
border:1px none blue;

}

.badnote_form_fem_data
{
position:absolute;
width: 100%;
margin:0px;
border:1px none blue;

}

.forename_data
{
position:absolute;
width:auto;
border: 5px orange none;
left: 0;
text-align:center;
}

.t_forename_data
{
position:absolute;
width:auto;
border: 5px orange none;
right: 0;
text-align:center;
}


.forename_data_content
{
position:relative;
left:-50%;
border: 6px blue none;
text-align:center;
}

.t_forename_data_content
{
position:relative;
right:-50%;
border: 6px blue none;
text-align:center;
}

/*
.eye_container_male_data
{
position:absolute;
width:100%;
margin:0px;
border: 3px grey none;
text-align:left;
}

.eye_container_fem_data
{
position:absolute;
width:100%;
margin:0px;
border: 3px grey none;
text-align:right;
}
*/
.eye_male_data, .eye_fem_data
{
margin:0px;
width:auto;
border: 4px green none;
}

.eye_data
{
opacity:0;
}

.eye_container, .eye_container_copy
{
display: inline-block;
width:100%;
margin:auto;
border: 3px grey none;
}

.eye_male, .eye_male_copy, .eye_fem, .eye_fem_copy
{
display: block;
position: relative;
left: -60px;
width:auto;
margin:auto;
border: 4px green none;
}



#crown
{
display:none;
position:relative;
color:yellow;
border: 1px orange none;
overflow: hidden;
}

#help_box
{
	background-color: white;
	position:absolute;
	top:0px;
	display:none;
	/*padding-left : 10px;
	padding-right : 10px;*/
	border: 8px orange groove;
	font-weight:bold;
	text-align:center;
	/*max-device-width: 300px;*/
	z-index:99999;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}


@media screen and (max-device-width: 768px) {
    #help_box
	{
		margin-top: inherit; /* poussé de la moitié de hauteur de viewport */
		-moz-transform: inherit;
		-webkit-transform: inherit;
		-ms-transform: inherit;
		-o-transform: inherit;
		transform: inherit;
        height:calc(100% - 16px);
    }
	#help_box_content
	{
		margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		border: 2px yellow none;
	}
}



.help_box_content_config_for_mobile
{
	padding-left:10px;
	padding-right:10px;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	border: 1px red groove;
}

#dictionnary
{
display:none;
}

.definition
{
text-decoration: underline;
}

.definition:hover
{
color:orange;
}



/*PARTIE GEOLOCATION*/

#map_and_tools_of_map
{
position:absolute;
width:500px;
height:500px;
margin:auto;
top:0;
left:0;
right:0;
bottom:0;
z-index:9999999;
border: 1px none blue;
margin-top:1%;
display:none;
}

#map
{

width:60%;
height:60%;
border: 1px red none;
background-color:grey;
/*display:none;*/
}

.map_tool
{
display:inline-block;
vertical-align: top;
}

.left_of_map, .right_of_map
{
width:19%;
text-align:center;
}

#unite_name_input, #enemy_name_input
{
width:98%;
}